<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limitfan.gojuuon"
    android:installLocation="auto"
    android:versionCode="12"
    android:versionName="2.7" >

    <uses-sdk android:minSdkVersion="15" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".GojuuonActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".acts.ActMore"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".acts.ActSeion"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".acts.ActDakuon"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".acts.ActYouon"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <!--<activity-->
            <!--android:name=".acts.ActMoreAbout"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/MainTheme" />-->
        <activity
            android:name=".acts.ActKana"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".acts.ActInfo"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".acts.ActRecommend"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".acts.ActTest"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="4e51f28a431fe367cd00027a" >
        </meta-data>

        <activity
            android:name="com.umeng.fb.ui.SendFeedback"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.umeng.fb.ui.FeedbackConversations" />
        <activity
            android:name="com.umeng.fb.ui.FeedbackConversation"
            android:configChanges="keyboard" />

        <service
            android:name="com.umeng.common.net.DownloadingService"
            android:exported="true"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.limitfan.gojuuon.TActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <service android:name="com.limitfan.gojuuon.TService" />

    </application>

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS" />
   

</manifest>